.videoFooter{
    position: relative;
    color: white;
    bottom: 100px;
    margin-left: 40px;
    display: flex;
}

.videoFooter__text{
    flex: 1;
}

.videoFooter__record{
    animation: spinTheRecord infinite 5s linear;
    height: 35px;
    filter: invert(1);
    position: absolute;
    bottom: -13px;
    right: 10px;
}

.videoFooter__icon{
    position: absolute;
}

.videoFooter__ticker > .ticker{
    height: fit-content;
    margin-left: 30px;
    width: 80%;
}

.videoFooter__ticker h1 {
    padding-top: 7px;
}

@keyframes spinTheRecord{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
